/*колір основного тексту background: #757575;
колір заголовку background: #212121;
синій колір background: #2196F3;
основний сірий фон background: #2F303A;
*/

/* Hero section */

.hero-section {
  height: 600px;
  color: var(--primary-white-color);
  /* background-color: var(--dark-bg-color); */
  background-image: linear-gradient(
      to right,
      rgba(70, 64, 36, 0.4),
      rgba(101, 133, 29, 0.4)
    ),
    url(../img/hero_img.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  display: flex; /*  перетворює .hero-section на flex-контейнер. */
  flex-direction: column; /* розташовує елементи по вертикалі. */
  justify-content: center; /* вирівнює елементи по вертикалі (висоті). */
  align-items: center; /* вирівнює елементи по горизонталі (ширині). */
  text-align: center; /* центрує текст. */
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
}

/* Soft skills */

.skills {
  padding-top: 94px;
}

.skills-list {
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  max-width: 270px;
}

.skill-item::before {
  content: "";
  display: inline-block;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-item.icon-antenna::before {
  background-image: url(../img/antenna.png);
}

.skill-item.icon-clock::before {
  background-image: url(../img/clock.png);
}

.skill-item.icon-diagram::before {
  background-image: url(../img/diagram.png);
}

.skill-item.icon-astronaut::before {
  background-image: url(../img/astronaut.png);
}

.skill-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
}

.skill-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 10px;
}

/* Experience */

.experience {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.experience-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.experience-list {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
}

/* Team */

.team {
  background-color: var(--light-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  /* display: inline-flex; */
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  
}

.team-list {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  
}

.team-item {
  text-align: center;
  max-width: 270px;
  background-color: #fff;
  box-shadow: 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team-img {
  width: 270px; /* Відповідає ширині зображення */
  height: 320px; /* Задайте бажану висоту */
  overflow: hidden; /* Приховує частини, які виходять за межі */
  position: relative; /* Необхідно для абсолютного позиціювання дочірніх елементів */
}

.team-name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.team-description::after {
  content: "";
  display: inline-block;
  width: 208px;
  height: 44px;
  margin-top: 16px;
  margin-bottom: 30px;
  /* background-color: #f5f4fa; */
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(../img/Social_links.png);
}
