/*колір основного тексту background: #757575;
колір заголовку background: #212121;
синій колір background: #2196F3;
основний сірий фон background: #2F303A;
*/

/* Hero section */

.hero-section {
  height: 600px;
  color: var(--primary-white-color);
  /* background-color: var(--dark-bg-color); */
  background-image: linear-gradient(
      to right,
      rgba(70, 64, 36, 0.4),
      rgba(101, 133, 29, 0.4)
    ),
    url(../img/hero_img.jpg);
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-position: center;
  display: flex; /*  перетворює .hero-section на flex-контейнер. */
  flex-direction: column; /* розташовує елементи по вертикалі. */
  justify-content: center; /* вирівнює елементи по вертикалі (висоті). */
  align-items: center; /* вирівнює елементи по горизонталі (ширині). */
  text-align: center; /* центрує текст. */
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
}

/* Soft skills */

.skills {
  padding-top: 94px;
}

.skills-list {
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  max-width: 270px;
  padding: 15px;
  margin-bottom: 20px;
  /* outline: 1px solid tomato; */
}

.skill-item:first-child {
  padding-left: 0;
}

.skill-item:last-child {
  padding-right: 0;
}

.skill-item::before {
  width: 120px;
  height: 270px;
  content: "xzc";
  
  background-color: rgb(97, 160, 160);
}

.skill-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
}

.skill-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}

/* Experience */

.experience-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.experience-list {
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  padding: 0;
  margin: 0;
}

.experience-item {
  margin-bottom: 20px; /* Відступ між блоками по вертикалі */
  text-align: center;
}

/* Team */

.team {
  background-color: var(--light-bg-color);
}

.team-title {
  /* display: inline-flex; */
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  padding-top: 94px;
}

.team-list {
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  padding: 0;
  margin: 0;
}

.team-item {
  /* width: 370px; */
  padding: 30px 0;
  margin-bottom: 20px; /* Відступ між блоками по вертикалі */
  text-align: center;
}

.team-name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
