/*колір основного тексту background: #757575;
колір заголовку background: #212121;
синій колір background: #2196F3;
основний сірий фон background: #2F303A;
*/

/* Main section */

.main-section {
  color: var(--primary-white-color);
  background-color: var(--dark-bg-color);
  text-align: center;
}

.main-section .main-title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.4;
}

/* Soft skills */

.title-skills {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
}

.soft-skills p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
}
/* Experience */

.section .title {
    color: var(--title-text-color);
    font-size: 36px;
    font-weight: 700;
  }
  
/* Team */

.section .title-name {
  color: var(--title-text-color);
}

.team-list {
  background-color: var(--light-bg-color);
}
