:root {
  --card-set-gap: 30px;
  --card-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  --btn-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 1px 0 rgba(0, 0, 0, 0.1);
}

/* Кнопки */

.card-set-btn {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 94px;
}

.card-btn {
  min-width: 110px;
  height: 38px;
  border: none;
  border-radius: 4px;
  color: var(--title-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 15px;
}

.card-btn:hover,
.card-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: var(--btn-shadow);
}

.card-list {
  padding: 0;
  margin: 0;
  margin-bottom: var(--card-set-gap);
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 94px;
}

.card-item {
  /* outline: 1px solid tomato; */
  flex-basis: calc(100% / 3 - 21px);
  margin-right: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}

.card-item:hover {
  box-shadow: var(--card-shadow);
}

/* Кожен третій margin-right: 0 */
.card-item:nth-child(3n) {
  margin-right: 0;
}

.card {
  border: 1px solid #eee;
  border-radius: 4px;
  overflow: hidden;
}

.card-content {
  padding: 10px;
}

.card-title {
  margin-top: 20px;
}

.card-object {
  margin-top: 20px;
}

.card-desc {
  margin-top: 20px;
}
