/*колір основного тексту background: #757575;
колір заголовку background: #212121;
синій колір background: #2196F3;
основний сірий фон background: #2F303A;
*/

/*
 |============================
 | Hero section
 |============================
*/
.hero-section {
  height: 600px;
  color: var(--primary-white-color);
  background-image: linear-gradient(to right, rgba(70, 64, 36, 0.4), rgba(101, 133, 29, 0.4)),
    url(../img/hero_mobile.jpg);
  background-size: cover;
  background-position: center;
  display: flex; /*  перетворює .hero-section на flex-контейнер. */
  flex-direction: column; /* розташовує елементи по вертикалі. */
  justify-content: center; /* вирівнює елементи по вертикалі (висоті). */
  align-items: center; /* вирівнює елементи по горизонталі (ширині). */
  text-align: center; /* центрує текст. */

}

@media (min-width: 768px) and (max-width: 1199px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(70, 64, 36, 0.4), rgba(101, 133, 29, 0.4)), url(../img/hero_tablet.jpg);
  }
}

@media (min-width: 1200px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(70, 64, 36, 0.4), rgba(101, 133, 29, 0.4)), url(../img/hero_img.jpg); /* Велике зображення для екранів від 1200px */
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 44px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.4;
  letter-spacing: 0.06em;

  @media (max-width: 310px) {
    font-size: 32px;
  }
}

/*
 |============================
 | Soft skills section
 |============================
*/
.skills {
  padding-top: 94px;
}

.skills-list {
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  padding: 0;
  margin: 0;
}

.skill-item {
  max-width: 450px;
  padding-bottom: 20px;

  @media (min-width: 767px) {
    max-width: 354px;
  }

  @media (min-width: 1199px) {
    max-width: 270px;
  }
}

.skill-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Відповідатиме ширині `skill-item` */
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
  margin-bottom: 10px; /* Відступ між фоном та текстом */
}

.skill-title {
  color: var(--title-text-color);
  font-size: 14px;
  font-weight: 700;
  margin-top: 30px;
}

.skill-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 10px;
}

/*
 |============================
 | Experience section
 |============================
*/
.experience {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;

  @media (max-width: 1199px) {
    display: none;
  }
}

.experience-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.experience-list {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
  overflow: hidden;
}

.experience-item {
  position: relative;
}

.experience-action {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(47, 48, 58, 0.8);
  display: flex;
  justify-content: center; /* Горизонтальне центрування */
  align-items: center; /* Вертикальне центрування */
  opacity: 1;
  transform: translateY(100%); /* Початковий стан – приховано внизу */
  transition: transform 333ms var(--timing-function);
  pointer-events: none;
}

.experience-item:hover .experience-action {
  transform: translateY(0); /* Переміщуємо елемент на своє місце */
}

.experience-description {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}
/*
 |============================
 | Team section
 |============================
*/

.team {
  //  outline: 1px solid tomato; 
  background-color: var(--light-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-title {
  /* display: inline-flex; */
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.team-list {
  padding: 0;
  margin: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
  list-style: none;
}

.team-item {
  // outline: 1px solid tomato; 
  margin-bottom: 20px;
  text-align: center;
  max-width: 460px;
  background-color: #fff;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);

  @media (min-width: 768px) {
    width: 356px;
  }

  @media (min-width: 1200px) {
    width: 270px;
  }
}

.team-img {
  width: 100%; /* Ширина займає 100% від контейнера */
  height: auto; /* Висота автоматично коригується для збереження пропорцій */
  max-height: 460px; /* Максимальна висота для більших екранів */
  object-fit: cover; /* Зображення заповнює контейнер, обрізається */
  object-position: center; /* Центрує зображення по вертикалі та горизонталі */
  overflow: hidden; /* Приховує частини, що виходять за межі */

  @media (min-width: 768px) {
    max-height: 374px; /* Висота для екранів середнього розміру */
  }

  @media (min-width: 1200px) {
    max-height: 260px; /* Висота для великих екранів */
  }

  @media (max-width: 480px) {
    max-height: 96vw; /* Висота змінюється пропорційно ширині екрана */
  }
}

.team-name {
  color: var(--title-text-color);
  font-size: 16px;
  font-weight: 500;
  margin-top: 30px;
}

.team-description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.team-social {
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 30px;
  justify-content: center;
}

.team-social-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #fff;
}

.team-social-background:not(:last-child) {
  margin-right: 10px;
}

.team-social-background a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.team-social .icon {
  fill: #b8afb6;
  width: 20px;
  height: 20px;
}

.team-social-background:hover .icon,
.team-social-background:focus .icon {
  fill: #fff; /* Changes the icon color */
}

.team-social-background:hover,
.team-social-background:focus {
  background-color: var(--accent-color);
}

/*
 |============================
 | Clients section
 |============================
*/

.clients {
  display: block;
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-title {
  color: var(--title-text-color);
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.client-list {
  padding: 0;
  padding-top: 50px;
  display: flex;
  justify-content: space-between; /* Додає простір між елементами */
  flex-wrap: wrap; /* Дозволяє елементам переходити на новий рядок */
}

.client-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 8px;
  background-color: #fff;
}

.client-icon {
  width: 75px;
  height: 75px;
  transition-duration: 800ms;
}

.client-icon:hover,
.client-icon:focus {
  transform: scale(1.4);
  transition: transform 400ms var(--timing-function);
  cursor: pointer;
}
